<div class="form-container">
  <div *ngIf="mensagemSucesso" class="toast-sucesso">
    Produto cadastrado com sucesso!
  </div>

  <div *ngIf="mensagemErro" class="toast-erro">
    {{ mensagemErro }}
  </div>

  <h1>Cadastro de Produto</h1>

  <form [formGroup]="form" (ngSubmit)="salvar()" class="form">
    <div class="form-group">
      <label>Código</label>
      <input type="text" formControlName="codigo">
    </div>

    <div class="form-group">
      <label>Descrição</label>
      <input type="text" formControlName="descricao">
    </div>

    <div class="form-group">
      <label>Saldo</label>
      <input type="number" formControlName="saldo">
    </div>

    <button type="submit" class="btn-primary">Salvar</button>
  </form>
</div>